body {
	/* background: #ff6045; */
	margin: 0;
	font-family: arial, "Times New Roman", Times, serif;
}

.container .navbar {
	background: white;
	display: flex;
}
.logo-image {
	width: 15rem;
	display: inline-block;
}

.navbar-right {
	float: right;
	text-decoration: none;
}
.navbar-right ul li {
	font-size: 1.1rem;
	list-style-type: none;
	float: right;
	margin: 5px 10px 5px 10px;
}

.hero img {
	width: auto;
	height: 50%;
	overflow: hidden;
}
